img{
    margin: 10px;
    height: 80px !important;
    border-radius: 4px;
    padding: 5px;
    width: 80px !important;;
}
.card{
    width: 100%;
    justify-content: center;
    align-items: center;

}
.card-title{
    font-size: 24px;
}