body {
  font-family:'KiteOne-Regular', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(87, 87, 87, 0.47);
  -moz-osx-font-smoothing: grayscale;
  height: 100%;

}

.icons-wrapper{
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon{
  margin: 10px;
}
p{
  padding-right: 40px;
  padding-left: 40px;
}
#title{
  color: #fdfd96;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}
/*.cards-wrapper{*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*align-items: center;*/
/*}*/


@font-face {
  font-family: 'KiteOne-Regular';
  src:local('KiteOne-Regular'), url('KiteOne-Regular.ttf') format('truetype');
}

